<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.toni.vlifttest">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/uclap"
        android:label="@string/app_name"
        android:roundIcon="@drawable/uclap"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProfileDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.toni.vlifttest.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.MenuDetailsActivity"
            android:theme="@style/ActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.toni.vlifttest.activity.MainActivity" />
        </activity>
    </application>

</manifest>